/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

$normalWidth: 4.85%;
$normalMargin: 3.8%;

$eightWidth: 9.175%;

.container {
	padding-left: 20px;
	padding-right: 20px;
}

.row {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}

.row .onecol {
	width: $normalWidth;
}

.row .twocol {
	width: $normalWidth*2+$normalMargin;
}

.row .threecol {
	width: $normalWidth*3+$normalMargin*2;
}

.row .fourcol {
	width: $normalWidth*4+$normalMargin*3;
}

.row .fivecol {
	width: $normalWidth*5+$normalMargin*4;
}

.row .sixcol {
	width: $normalWidth*6+$normalMargin*5;
}

.row .sevencol {
	width: $normalWidth*7+$normalMargin*6;
}

.row .eightcol {
	width: $normalWidth*8+$normalMargin*7;
}

.row .ninecol {
	width: $normalWidth*9+$normalMargin*8;
}

.row .tencol {
	width: $normalWidth*10+$normalMargin*9;
}

.row .elevencol {
	width: $normalWidth*11+$normalMargin*10;
}

.row .twelvecol {
	width: 100%;
	float: left;
}

.last {
	margin-right: 0px;
}

img, object, embed {
	max-width: 100%;
}

img {
	height: auto;
}

/* Mobile */

@media
handheld,
only screen and (max-width: 960px) {

	.eighthide {
		display: none;
	}
	
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.row {
		max-width: 755px;
		min-width: 480px;
	}

	.row .onecol {
		width: $eightWidth;
	}
	
	.row .twocol {
		width: $eightWidth*2 + $normalMargin*1;
	}
	
	.row .threecol {
		width: $eightWidth*3 + $normalMargin*2;
	}
	
	.row .fourcol {
		width: $eightWidth*4 + $normalMargin*3;
	}
	
	.row .fivecol {
		width: $eightWidth*5 + $normalMargin*4;
	}
	
	.row .sixcol {
		width: $eightWidth*6 + $normalMargin*5;
	}
	
	.row .sevencol {
		width: $eightWidth*7 + $normalMargin*6;
	}
	
	.row .eightcol {
		width: 100%;
		float: left;
	}
	
	.row .ninecol {
		width: 100%;
		float: left;
	}
	
	.row .tencol {
		width: 100%;
		float: left;
	}
	
	.row .elevencol {
		width: 100%;
		float: left;
	}
		
	.row .twelvecol {
		width: 100%;
		float: left;
	}
}

@media
handheld,
only screen and (max-width: 610px) {

	body {
		font-size: 16px;
		-webkit-text-size-adjust: none;
	}

	.mobilehide {
		display: none;
	}

	.row, body, .container {
		width: 100%;
		min-width: 0;
		margin: 0 auto;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.row {
		max-width: 480px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding: 5px 20px;
	}
}

@media
handheld,
only screen and (max-width: 479px) {
	.row, body, .container {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media
handheld,
only screen and (max-width: 400px) {
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, 	.row .tencol, .row .elevencol, .row .twelvecol {
		padding: 5px 10px;
	}
}