$background: #6ba0d9;
$footerHeight: 100px;
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

html,body {
	height: 100%
}

div.mother {
	min-height:100%;
	position:relative;
}

p,h3 {
	margin: .2em 0;
}

footer {
	position: absolute;
	bottom: 0;
	height: $footerHeight;
	width: 100%;
}

.blue {
	background-color: $background;
	color: white;
}

header.row {
	padding: 5px 0 8px 0;
}

.main.container {
	padding-bottom: $footerHeight;
}

.main.container .row > * {
	margin-top: 10px;
	margin-bottom: 10px;
}

fieldset {
	position: relative;
	margin: 0 0 10px 0;
/*	background-color: #a7ee69;*/
}

fieldset label img {
	width: 15%;
}

.inputsetContainer {
	position: absolute;
	top:50%;
	left:22%;
	width: 78%;
	margin-top: -1.2em;
}

.inputset {	
	color: white;
	display: inline;
	float:right;
	background-color: #555;
	border-radius: 8px;
	font: 28px 'Dosis', Helvetica, Helvetica Neue, Arial;
	padding: 0 5px;
	margin:0;
	min-width: 210px;
}

fieldset.pace .inputset {
	min-width: 135px;
}

.inputset span {
	display: inline;
}

.inputset span.unit {
	font-size: 14px;
	color: #999;
}

/* Turn of up/down spin buttons on number type input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.distance,
input.time,
input.speed {
	color: white;
	border: none;
	background:none;
	padding: 0 3px;
	font: 28px 'Dosis', Helvetica, Helvetica Neue, Arial;
	text-align: right;
	width: 100%;
	max-width: 160px;
}

input.time {
	max-width: 1em;
}

.row div.blue {
	border-radius: 8px;
}

.row aside > * {
	margin: 0 20px;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */


@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}

@media only screen and (min-width: 320px) {

  /* Small screen, non-retina */

}

/*
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

  /* Small screen, retina, stuff to override above media query *

}

@media only screen and (min-width: 700px) {

  /* Medium screen, non-retina *

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) { 

  /* Medium screen, retina, stuff to override above media query *

}

@media only screen and (min-width: 1300px) {

  /* Large screen, non-retina *

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

  /* Large screen, retina, stuff to override above media query *

}
*/